url: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [34]:
import pandas as pd

In [41]:
file = "data/US_COVID-19_Cases.csv"
covid_df = pd.read_csv(file)
covid_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,01/22/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
1,01/23/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2,01/24/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3,01/25/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
4,01/26/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree

In [36]:
covid_df = covid_df[["submission_date", "state", "tot_cases", "tot_death"]]
covid_df.head()

  submission_date state  tot_cases  tot_death
0      01/22/2020    CO          0          0
1      01/23/2020    CO          0          0
2      01/24/2020    CO          0          0
3      01/25/2020    CO          0          0
4      01/26/2020    CO          0          0

In [37]:
covid_df["Total_recovered"] = covid_df.tot_cases - covid_df.tot_death
covid_df.head()

  submission_date state  tot_cases  tot_death  Total_recovered
0      01/22/2020    CO          0          0                0
1      01/23/2020    CO          0          0                0
2      01/24/2020    CO          0          0                0
3      01/25/2020    CO          0          0                0
4      01/26/2020    CO          0          0                0

In [38]:
covid_df = covid_df.rename(columns={"submission_date": "Date", "state": "State", "tot_cases": "Total_cases", "tot_death": "Total_death"})
covid_df.tail()

             Date State  Total_cases  Total_death  Total_recovered
17335  11/01/2020    PW            0            0                0
17336  11/02/2020    PW            0            0                0
17337  11/03/2020    PW            0            0                0
17338  11/04/2020    PW            0            0                0
17339  11/05/2020    PW            0            0                0

In [40]:
covid_df = covid_df.groupby("State").mean()
covid_df

         Total_cases   Total_death  Total_recovered
State
AK       2916.114187     21.346021      2894.768166
AL      59294.768166   1074.408304     58220.359862
AR      31101.352941    462.674740     30638.678201
AS          0.000000      0.000000         0.000000
AZ      92068.069204   2252.785467     89815.283737
CA     319671.685121   6578.318339    313093.366782
CO      33862.802768   1200.979239     32661.823529
CT      34630.916955   2868.674740     31762.242215
DC       8190.820069    370.927336      7819.892734
DE      10194.474048    351.134948      9843.339100
FL     271463.197232   5410.231834    266052.965398
FSM         0.000000      0.000000         0.000000
GA     124858.543253   2950.910035    121907.633218
GU        836.446367     13.958478       822.487889
HI       3687.173010     45.830450      3641.342561
IA      35633.878893    623.148789     35010.730104
ID      15735.304498    175.865052     15559.439446
IL     138437.335640   4948.269896    133489.065744
IN      52663.107266   1981.349481     50681.757785
KS      22617.069204    293.916955     22323.152249
KY      26246.519031    539.588235     25706.930796
LA      73687.169550   2817.404844     70869.764706
MA      81650.359862   5552.179931     76098.179931
MD      60203.318339   2224.529412     57978.788927
ME       2678.778547     79.377163      2599.401384
MI      68627.003460   4372.678201     64254.325260
MN      41781.951557   1079.062284     40702.889273
MO      44892.567474    945.840830     43946.726644
MP         32.775087      1.467128        31.307958
MS      39416.788927   1216.930796     38199.858131
MT       5045.394464     65.899654      4979.494810
NC      83341.958478   1448.231834     81893.726644
ND       8089.446367    107.806228      7981.640138
NE      20099.124567    226.757785     19872.366782
NH       4504.955017    245.214533      4259.740484
NJ     127982.892734   9836.979239    118145.913495
NM      13656.899654    419.411765     13237.487889
NV      31529.401384    665.041522     30864.359862
NY     136180.352941   5939.702422    130240.650519
NYC    160184.633218  16029.273356    144155.359862
OH      65354.051903   2333.851211     63020.200692
OK      32322.224913    447.121107     31875.103806
OR      13221.377163    240.667820     12980.709343
PA      79978.875433   4622.875433     75356.000000
PR      16610.705882    243.027682     16367.678201
PW          0.000000      0.000000         0.000000
RI      13541.228374    626.242215     12914.986159
RMI         0.044983      0.000000         0.044983
SC      56148.408304   1260.941176     54887.467128
SD       9282.404844    102.989619      9179.415225
TN      75145.934256    921.034602     74224.899654
TX     279641.951557   5478.173010    274163.778547
UT      29639.809689    204.072664     29435.737024
VA      64629.622837   1506.290657     63123.332180
VI        426.671280      7.685121       418.986159
VT       1022.916955     40.657439       982.259516
WA      38647.217993   1134.830450     37512.387543
WI      50415.972318    682.799308     49733.173010
WV       5817.591696    125.896194      5691.695502
WY       2514.519031     22.204152      2492.314879