url: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [115]:
import pandas as pd
import datetime as dt

In [116]:
file = "data/US_COVID-19_Cases.csv"
covid_df = pd.read_csv(file)
covid_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,01/22/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
1,01/23/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2,01/24/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3,01/25/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
4,01/26/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree

In [134]:
state_df = covid_df.groupby('state').mean().reset_index()
state_df.head()

  state     tot_cases    tot_death  Total_recovered
0    AK   2916.114187    21.346021      2894.768166
1    AL  59294.768166  1074.408304     58220.359862
2    AR  31101.352941   462.674740     30638.678201
3    AS      0.000000     0.000000         0.000000
4    AZ  92068.069204  2252.785467     89815.283737

In [117]:
covid_df = covid_df[["submission_date", "state", "tot_cases", "tot_death"]]
covid_df.head()

  submission_date state  tot_cases  tot_death
0      01/22/2020    CO          0          0
1      01/23/2020    CO          0          0
2      01/24/2020    CO          0          0
3      01/25/2020    CO          0          0
4      01/26/2020    CO          0          0

In [118]:
covid_df["Total_recovered"] = covid_df.tot_cases - covid_df.tot_death
covid_df.head()

  submission_date state  tot_cases  tot_death  Total_recovered
0      01/22/2020    CO          0          0                0
1      01/23/2020    CO          0          0                0
2      01/24/2020    CO          0          0                0
3      01/25/2020    CO          0          0                0
4      01/26/2020    CO          0          0                0

In [119]:
covid_df['date'] = pd.to_datetime(covid_df['submission_date']).dt.to_period('M')
covid_df.head()

  submission_date state  tot_cases  tot_death  Total_recovered     date
0      01/22/2020    CO          0          0                0  2020-01
1      01/23/2020    CO          0          0                0  2020-01
2      01/24/2020    CO          0          0                0  2020-01
3      01/25/2020    CO          0          0                0  2020-01
4      01/26/2020    CO          0          0                0  2020-01

In [126]:
covid_monthly_df = covid_df.groupby(["date", "state"]).mean().reset_index()
covid_monthly_df

        date state  tot_cases  tot_death  Total_recovered
0    2020-01    AK        0.0        0.0              0.0
1    2020-01    AL        0.0        0.0              0.0
2    2020-01    AR        0.0        0.0              0.0
3    2020-01    AS        0.0        0.0              0.0
4    2020-01    AZ        0.6        0.0              0.6
..       ...   ...        ...        ...              ...
655  2020-11    VT     2247.2       58.0           2189.2
656  2020-11    WA   110342.0     2398.2         107943.8
657  2020-11    WI   251648.2     2178.4         249469.8
658  2020-11    WV    25649.0      467.2          25181.8
659  2020-11    WY    14592.4       95.4          14497.0

[660 rows x 5 columns]

In [127]:
covid_monthly_df = covid_monthly_df.rename(columns={"state": "State", "tot_cases": "Average_cases", "tot_death": "Average_death", "Total_recovered": "Average_recovery"})
covid_monthly_df

        date State  Average_cases  Average_death  Average_recovery
0    2020-01    AK            0.0            0.0               0.0
1    2020-01    AL            0.0            0.0               0.0
2    2020-01    AR            0.0            0.0               0.0
3    2020-01    AS            0.0            0.0               0.0
4    2020-01    AZ            0.6            0.0               0.6
..       ...   ...            ...            ...               ...
655  2020-11    VT         2247.2           58.0            2189.2
656  2020-11    WA       110342.0         2398.2          107943.8
657  2020-11    WI       251648.2         2178.4          249469.8
658  2020-11    WV        25649.0          467.2           25181.8
659  2020-11    WY        14592.4           95.4           14497.0

[660 rows x 5 columns]

In [128]:
covid_monthly_df['Death_percent'] = (covid_monthly_df.Average_death/covid_monthly_df.Average_cases)*100
covid_monthly_df['Recovery_percent'] = (covid_monthly_df.Average_recovery/covid_monthly_df.Average_cases)*100
covid_monthly_df

,date,State,Average_cases,Average_death,Average_recovery,Death_percent,Recovery_percent
0,2020-01,AK,0.0,0.0,0.0,NaN,NaN
1,2020-01,AL,0.0,0.0,0.0,NaN,NaN
2,2020-01,AR,0.0,0.0,0.0,NaN,NaN
3,2020-01,AS,0.0,0.0,0.0,NaN,NaN
4,2020-01,AZ,0.6,0.0,0.6,0.000000,100.000000
...,...,...,...,...,...,...,...
655,2020-11,VT,2247.2,58.0,2189.2,2.580990,97.419010
656,2020-11,WA,110342.0,2398.2,107943.8,2.173424,97.826576
657,2020-11,WI,251648.2,2178.4,249469.8,0.865653,99.134347
658,2020-11,WV,25649.0,467.2,25181.8,1.821514,98.178486
659,2020-11,WY,14592.4,95.4,14497.0,0.653765,99.346235

In [129]:
file = "data/US_COVID-19_stats.csv"
covid_stats_df = pd.read_csv(file)
covid_stats_df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
0,Alaska,17072,NaN,NaN,2616,2315,84,NaN,NaN,7,11,50.7,0.1
1,Alabama,199158,169266.0,29892.0,10009,4074,3026,2818.0,208.0,112,61,29.3,0.3
2,Arkansas,117360,NaN,NaN,7648,3894,2037,NaN,NaN,143,67,36.3,0.7
3,American Samoa,0,NaN,NaN,0,0,0,NaN,NaN,0,0,0.0,0.0
4,Arizona,252768,246468.0,6300.0,10288,3524,6087,5707.0,380.0,169,84,20.5,0.3

In [130]:
covid_stats_df = covid_stats_df[['State/Territory', 'Total Cases', 'Case Rate per 100000', 'Total Deaths', 'Death Rate per 100000']]
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000
0,Alaska,17072,2315,84,11
1,Alabama,199158,4074,3026,61
2,Arkansas,117360,3894,2037,67
3,American Samoa,0,0,0,0
4,Arizona,252768,3524,6087,84

In [136]:
covid_stats_df['State'] = state_df['state']
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000,State
0,Alaska,17072,2315,84,11,AK
1,Alabama,199158,4074,3026,61,AL
2,Arkansas,117360,3894,2037,67,AR
3,American Samoa,0,0,0,0,AS
4,Arizona,252768,3524,6087,84,AZ

In [137]:
covid_stats_df = covid_stats_df.rename(columns={"state": "State", "Total Cases": "Total_cases", "Case Rate per 100000": "Case_rate_per_100k", "Total Deaths": "Total_deaths", "Death Rate per 100000": "Death_rate_per_100k"})
covid_stats_df = covid_stats_df[["State", "Total_cases", "Case_rate_per_100k", "Total_deaths", "Death_rate_per_100k"]]
covid_stats_df.head()

  State  Total_cases  Case_rate_per_100k  Total_deaths  Death_rate_per_100k
0    AK        17072                2315            84                   11
1    AL       199158                4074          3026                   61
2    AR       117360                3894          2037                   67
3    AS            0                   0             0                    0
4    AZ       252768                3524          6087                   84