In [46]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from etl_pass import password

In [26]:
file = "data/US_COVID-19_Stats.csv"
us_covid_df = pd.read_csv(file)
us_covid_df.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-11-06 05:30:35,32.3182,-86.9023,199158,3026,84471.0,111661.0,1.0,4061.808804,1379107.0,NaN,1.519397,84000001,USA,28126.758423,NaN
1,Alaska,US,2020-11-06 05:30:35,61.3707,-152.4044,18174,84,7125.0,10965.0,2.0,2484.331107,781826.0,NaN,0.462199,84000002,USA,106873.261385,NaN
2,American Samoa,US,2020-11-06 05:30:35,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1768.0,NaN,NaN,16,ASM,3177.512985,NaN
3,Arizona,US,2020-11-06 05:30:35,33.7298,-111.4312,252768,6087,42317.0,204364.0,4.0,3472.699928,1826629.0,NaN,2.408137,84000004,USA,25095.480426,NaN
4,Arkansas,US,2020-11-06 05:30:35,34.9697,-92.3731,117360,2037,104816.0,10507.0,5.0,3888.920553,1392905.0,NaN,1.735685,84000005,USA,46156.244740,NaN

In [27]:
us_covid_df = us_covid_df[["Province_State", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Mortality_Rate"]]
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685

In [28]:
us_covid_df["State"] = "" 
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,

In [39]:

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Diamond Princess': 'DP',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Grand Princess': 'GP',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [40]:
for index, row in us_covid_df.iterrows():
    us_covid_df.loc[index, "State"] = us_state_abbrev[row[0]]

us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,AL
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,AK
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,AS
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,AZ
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,AR

In [59]:
us_covid_df = us_covid_df.rename(columns={"Long_": "Long", "Mortality_Rate":"Death_percent"})
us_covid_df["Recovery_percent"]=us_covid_df.Recovered/us_covid_df.Confirmed
us_covid_df = us_covid_df[["State", "Lat", "Long", "Confirmed", "Deaths", "Recovered", "Death_percent","Recovery_percent"]]
us_covid_df.head()

,State,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,AL,32.3182,-86.9023,199158,3026,84471.0,1.519397,0.424141
1,AK,61.3707,-152.4044,18174,84,7125.0,0.462199,0.392044
2,AS,-14.2710,-170.1320,0,0,NaN,NaN,NaN
3,AZ,33.7298,-111.4312,252768,6087,42317.0,2.408137,0.167414
4,AR,34.9697,-92.3731,117360,2037,104816.0,1.735685,0.893115

In [43]:
file = "data/World_COVID-19_Stats.csv"
world_covid_df = pd.read_csv(file)
world_covid_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-06 05:24:55,33.93911,67.709953,41935,1554,34440,5941.0,Afghanistan,107.723573,3.705735
1,NaN,NaN,NaN,Albania,2020-11-06 05:24:55,41.15330,20.168300,22721,543,11696,10482.0,Albania,789.526722,2.389860
2,NaN,NaN,NaN,Algeria,2020-11-06 05:24:55,28.03390,1.659600,60169,2011,41244,16914.0,Algeria,137.212244,3.342253
3,NaN,NaN,NaN,Andorra,2020-11-06 05:24:55,42.50630,1.521800,5135,75,3858,1202.0,Andorra,6645.958714,1.460565
4,NaN,NaN,NaN,Angola,2020-11-06 05:24:55,-11.20270,17.873900,12102,299,5350,6453.0,Angola,36.821948,2.470666

In [44]:
world_covid_df = world_covid_df[["Country_Region", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Case-Fatality_Ratio"]]
world_covid_df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Case-Fatality_Ratio
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666

In [45]:
world_covid_df = world_covid_df.rename(columns={"Long_": "Long", "Case-Fatality_Ratio":"Death_percent", "Country_Region": "Country"})
world_covid_df["Recovery_percent"]=world_covid_df.Recovered/world_covid_df.Confirmed
world_covid_df = world_covid_df[["Country", "Lat", "Long", "Confirmed", "Deaths", "Recovered", "Recovery_percent", "Death_percent"]]
world_covid_df.head()

,Country,Lat,Long,Confirmed,Deaths,Recovered,Recovery_percent,Death_percent
0,Afghanistan,33.93911,67.709953,41935,1554,34440,0.821271,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,0.514766,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,0.685469,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,0.751315,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,0.442076,2.470666

In [55]:
for index, row in world_covid_df.iterrows(): 
    if row["Country"] == "Canada":
        world_covid_df.loc[index, "Lat"] = 56.1304
        world_covid_df.loc[index, "Long"] = 106.3468
world_covid_df

,Country,Lat,Long,Confirmed,Deaths,Recovered,Recovery_percent,Death_percent
0,Afghanistan,33.939110,67.709953,41935,1554,34440,0.821271,3.705735
1,Albania,41.153300,20.168300,22721,543,11696,0.514766,2.389860
2,Algeria,28.033900,1.659600,60169,2011,41244,0.685469,3.342253
3,Andorra,42.506300,1.521800,5135,75,3858,0.751315,1.460565
4,Angola,-11.202700,17.873900,12102,299,5350,0.442076,2.470666
...,...,...,...,...,...,...,...,...
3955,West Bank and Gaza,31.952200,35.233200,56672,508,48680,0.858978,0.896386
3956,Western Sahara,24.215500,-12.885800,10,1,8,0.800000,10.000000
3957,Yemen,15.552727,48.516388,2063,601,1375,0.666505,29.132332
3958,Zambia,-13.133897,27.849332,16770,349,15827,0.943769,2.081097
3959,Zimbabwe,-19.015438,29.154857,8444,248,7975,0.944458,2.936997

In [60]:
engine = create_engine("postgresql://postgres:{password}@localhost:5432/COVID-19_Project02_DB".format(password=password))
conn = engine.connect()

us_covid_df.to_sql(name='CovidStatesStat', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "CovidStatesStat" violates foreign key constraint "fk_CovidStatesStat_State"
DETAIL:  Key (State)=(AL) is not present in table "CovidTotal".

[SQL: INSERT INTO "CovidStatesStat" ("State", "Lat", "Long", "Confirmed", "Deaths", "Recovered", "Death_percent", "Recovery_percent") VALUES (%(State)s, %(Lat)s, %(Long)s, %(Confirmed)s, %(Deaths)s, %(Recovered)s, %(Death_percent)s, %(Recovery_percent)s)]
[parameters: ({'State': 'AL', 'Lat': 32.3182, 'Long': -86.9023, 'Confirmed': 199158, 'Deaths': 3026, 'Recovered': 84471.0, 'Death_percent': 1.5193966599383404, 'Recovery_percent': 0.4241406320609767}, {'State': 'AK', 'Lat': 61.3707, 'Long': -152.4044, 'Confirmed': 18174, 'Deaths': 84, 'Recovered': 7125.0, 'Death_percent': 0.462198745460548, 'Recovery_percent': 0.3920435787388577}, {'State': 'AS', 'Lat': -14.270999999999999, 'Long': -170.132, 'Confirmed': 0, 'Deaths': 0, 'Recovered': None, 'Death_percent': None, 'Recovery_percent': None}, {'State': 'AZ', 'Lat': 33.7298, 'Long': -111.4312, 'Confirmed': 252768, 'Deaths': 6087, 'Recovered': 42317.0, 'Death_percent': 2.4081371059627803, 'Recovery_percent': 0.16741438789720217}, {'State': 'AR', 'Lat': 34.9697, 'Long': -92.3731, 'Confirmed': 117360, 'Deaths': 2037, 'Recovered': 104816.0, 'Death_percent': 1.7356850715746417, 'Recovery_percent': 0.8931152010906612}, {'State': 'CA', 'Lat': 36.1162, 'Long': -119.6816, 'Confirmed': 956854, 'Deaths': 17860, 'Recovered': None, 'Death_percent': 1.866533452334421, 'Recovery_percent': None}, {'State': 'CO', 'Lat': 39.0598, 'Long': -105.3111, 'Confirmed': 121006, 'Deaths': 2353, 'Recovered': 8268.0, 'Death_percent': 1.9445316761152345, 'Recovery_percent': 0.06832719038725353}, {'State': 'CT', 'Lat': 41.5978, 'Long': -72.7554, 'Confirmed': 77060, 'Deaths': 4656, 'Recovered': 9800.0, 'Death_percent': 6.042045159615884, 'Recovery_percent': 0.12717363093693226}  ... displaying 10 of 58 total bound parameter sets ...  {'State': 'WI', 'Lat': 44.2685, 'Long': -89.6165, 'Confirmed': 249924, 'Deaths': 2194, 'Recovered': 193369.0, 'Death_percent': 0.8778668715289448, 'Recovery_percent': 0.773711208207295}, {'State': 'WY', 'Lat': 42.756, 'Long': -107.3025, 'Confirmed': 15409, 'Deaths': 105, 'Recovered': 9709.0, 'Death_percent': 0.6814199493802323, 'Recovery_percent': 0.6300863131935882})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)