url: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [2]:
import pandas as pd
import datetime as dt
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine
import psycopg2
# from covid_pass import password
#from types import type(None)

In [4]:
file = "../Data/US_COVID-19_Cases.csv"
covid_df = pd.read_csv(file)
covid_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,01/22/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
1,01/23/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
2,01/24/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3,01/25/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
4,01/26/2020,CO,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree

In [3]:
state_df = covid_df.groupby('state').mean().reset_index()
state_df.head()

,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
0,AK,2916.114187,NaN,NaN,59.072664,0.000000,21.346021,NaN,NaN,0.290657,0.000000
1,AL,59294.768166,77799.791045,7163.437811,689.128028,148.716418,1074.408304,1472.218905,67.656716,10.470588,1.034826
2,AR,31101.352941,NaN,NaN,406.089965,50.089552,462.674740,NaN,NaN,7.048443,0.865672
3,AS,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
4,AZ,92068.069204,130396.049751,1673.671642,874.629758,31.343284,2252.785467,3083.766169,146.109453,21.062284,1.890547

In [4]:
covid_df = covid_df[["submission_date", "state", "tot_cases", "tot_death"]]
covid_df.head()

  submission_date state  tot_cases  tot_death
0      01/22/2020    CO          0          0
1      01/23/2020    CO          0          0
2      01/24/2020    CO          0          0
3      01/25/2020    CO          0          0
4      01/26/2020    CO          0          0

In [5]:
covid_df["Total_recovered"] = covid_df.tot_cases - covid_df.tot_death
covid_df.head()

  submission_date state  tot_cases  tot_death  Total_recovered
0      01/22/2020    CO          0          0                0
1      01/23/2020    CO          0          0                0
2      01/24/2020    CO          0          0                0
3      01/25/2020    CO          0          0                0
4      01/26/2020    CO          0          0                0

In [6]:
covid_df['date'] = pd.to_datetime(covid_df['submission_date']).dt.to_period('M').astype(str)
covid_df.head()

  submission_date state  tot_cases  tot_death  Total_recovered     date
0      01/22/2020    CO          0          0                0  2020-01
1      01/23/2020    CO          0          0                0  2020-01
2      01/24/2020    CO          0          0                0  2020-01
3      01/25/2020    CO          0          0                0  2020-01
4      01/26/2020    CO          0          0                0  2020-01

In [7]:
covid_monthly_df = covid_df.groupby(["date", "state"]).mean().reset_index()
covid_monthly_df

        date state  tot_cases  tot_death  Total_recovered
0    2020-01    AK        0.0        0.0              0.0
1    2020-01    AL        0.0        0.0              0.0
2    2020-01    AR        0.0        0.0              0.0
3    2020-01    AS        0.0        0.0              0.0
4    2020-01    AZ        0.6        0.0              0.6
..       ...   ...        ...        ...              ...
655  2020-11    VT     2247.2       58.0           2189.2
656  2020-11    WA   110342.0     2398.2         107943.8
657  2020-11    WI   251648.2     2178.4         249469.8
658  2020-11    WV    25649.0      467.2          25181.8
659  2020-11    WY    14592.4       95.4          14497.0

[660 rows x 5 columns]

In [8]:
covid_monthly_df = covid_monthly_df.rename(columns={"date": "Date", "state": "State", "tot_cases": "Average_cases", "tot_death": "Average_death", "Total_recovered": "Average_recovery"})
covid_monthly_df

        Date State  Average_cases  Average_death  Average_recovery
0    2020-01    AK            0.0            0.0               0.0
1    2020-01    AL            0.0            0.0               0.0
2    2020-01    AR            0.0            0.0               0.0
3    2020-01    AS            0.0            0.0               0.0
4    2020-01    AZ            0.6            0.0               0.6
..       ...   ...            ...            ...               ...
655  2020-11    VT         2247.2           58.0            2189.2
656  2020-11    WA       110342.0         2398.2          107943.8
657  2020-11    WI       251648.2         2178.4          249469.8
658  2020-11    WV        25649.0          467.2           25181.8
659  2020-11    WY        14592.4           95.4           14497.0

[660 rows x 5 columns]

In [9]:
covid_monthly_df['Death_percent'] = round((covid_monthly_df.Average_death/covid_monthly_df.Average_cases)*100, 2)
covid_monthly_df['Recovery_percent'] = round((covid_monthly_df.Average_recovery/covid_monthly_df.Average_cases)*100, 2)
covid_monthly_df=covid_monthly_df.dropna()
covid_monthly_df

,Date,State,Average_cases,Average_death,Average_recovery,Death_percent,Recovery_percent
4,2020-01,AZ,0.6,0.0,0.6,0.00,100.00
5,2020-01,CA,1.3,0.0,1.3,0.00,100.00
17,2020-01,IL,0.9,0.0,0.9,0.00,100.00
56,2020-01,WA,1.0,0.0,1.0,0.00,100.00
64,2020-02,AZ,1.0,0.0,1.0,0.00,100.00
...,...,...,...,...,...,...,...
655,2020-11,VT,2247.2,58.0,2189.2,2.58,97.42
656,2020-11,WA,110342.0,2398.2,107943.8,2.17,97.83
657,2020-11,WI,251648.2,2178.4,249469.8,0.87,99.13
658,2020-11,WV,25649.0,467.2,25181.8,1.82,98.18
659,2020-11,WY,14592.4,95.4,14497.0,0.65,99.35

In [13]:
covid_monthly_df.to_csv('./data/monthly.csv')

In [258]:
print(covid_monthly_df.dtypes)

Date                 object
State                object
Average_cases       float64
Average_death       float64
Average_recovery    float64
Death_percent       float64
Recovery_percent    float64
dtype: object

# covid_monthly_df = {'date': object}
print(covid_monthly_df.dtypes)

In [5]:
file = "../Data/US_COVID-19_Deaths.csv"
covid_stats_df = pd.read_csv(file)
covid_stats_df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
0,Alaska,17072,NaN,NaN,2616,2315,84,NaN,NaN,7,11,50.7,0.1
1,Alabama,199158,169266.0,29892.0,10009,4074,3026,2818.0,208.0,112,61,29.3,0.3
2,Arkansas,117360,NaN,NaN,7648,3894,2037,NaN,NaN,143,67,36.3,0.7
3,American Samoa,0,NaN,NaN,0,0,0,NaN,NaN,0,0,0.0,0.0
4,Arizona,252768,246468.0,6300.0,10288,3524,6087,5707.0,380.0,169,84,20.5,0.3

In [16]:
covid_stats_df = covid_stats_df[['State/Territory', 'Total Cases', 'Case Rate per 100000', 'Total Deaths', 'Death Rate per 100000']]
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000
0,Alaska,17072,2315,84,11
1,Alabama,199158,4074,3026,61
2,Arkansas,117360,3894,2037,67
3,American Samoa,0,0,0,0
4,Arizona,252768,3524,6087,84

In [17]:
covid_stats_df['State'] = state_df['state']
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000,State
0,Alaska,17072,2315,84,11,AK
1,Alabama,199158,4074,3026,61,AL
2,Arkansas,117360,3894,2037,67,AR
3,American Samoa,0,0,0,0,AS
4,Arizona,252768,3524,6087,84,AZ

In [18]:
covid_stats_df = covid_stats_df.rename(columns={"state": "State", "Total Cases": "Total_cases", "Case Rate per 100000": "Case_rate_per_100k", "Total Deaths": "Total_deaths", "Death Rate per 100000": "Death_rate_per_100k"})
covid_stats_df = covid_stats_df[["State", "Total_cases", "Case_rate_per_100k", "Total_deaths", "Death_rate_per_100k"]].dropna()
covid_stats_df.tail()

   State  Total_cases  Case_rate_per_100k  Total_deaths  Death_rate_per_100k
55    VT         2303                 368            58                    9
56    WA       112550                1494          2431                   32
57    WI       263571                4534          2269                   39
58    WV        26547                1470           480                   26
59    WY        15409                2667           105                   18

In [6]:
file = "../Data/US_COVID-19_stats.csv"
us_covid_df = pd.read_csv(file)
us_covid_df.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-11-06 05:30:35,32.3182,-86.9023,199158,3026,84471.0,111661.0,1.0,4061.808804,1379107.0,NaN,1.519397,84000001,USA,28126.758423,NaN
1,Alaska,US,2020-11-06 05:30:35,61.3707,-152.4044,18174,84,7125.0,10965.0,2.0,2484.331107,781826.0,NaN,0.462199,84000002,USA,106873.261385,NaN
2,American Samoa,US,2020-11-06 05:30:35,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1768.0,NaN,NaN,16,ASM,3177.512985,NaN
3,Arizona,US,2020-11-06 05:30:35,33.7298,-111.4312,252768,6087,42317.0,204364.0,4.0,3472.699928,1826629.0,NaN,2.408137,84000004,USA,25095.480426,NaN
4,Arkansas,US,2020-11-06 05:30:35,34.9697,-92.3731,117360,2037,104816.0,10507.0,5.0,3888.920553,1392905.0,NaN,1.735685,84000005,USA,46156.244740,NaN

In [20]:
us_covid_df = us_covid_df[["Province_State", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Mortality_Rate"]]
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685

In [21]:
us_covid_df["State"] = "" 
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,

In [22]:
us_state_abbrev = {
    
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Diamond Princess': 'DP',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Grand Princess': 'GP',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [23]:
for index, row in us_covid_df.iterrows():
    us_covid_df.loc[index, "State"] = us_state_abbrev[row[0]]

us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,AL
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,AK
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,AS
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,AZ
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,AR

In [24]:
us_covid_df = us_covid_df.rename(columns={"Long_": "Long", "Mortality_Rate":"Death_percent"})
us_covid_df["Recovery_percent"]=us_covid_df.Recovered/us_covid_df.Confirmed
us_covid_df = us_covid_df[["State", "Lat", "Long", "Confirmed", "Deaths", "Recovered", "Death_percent","Recovery_percent"]]
us_covid_df.head()

,State,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,AL,32.3182,-86.9023,199158,3026,84471.0,1.519397,0.424141
1,AK,61.3707,-152.4044,18174,84,7125.0,0.462199,0.392044
2,AS,-14.2710,-170.1320,0,0,NaN,NaN,NaN
3,AZ,33.7298,-111.4312,252768,6087,42317.0,2.408137,0.167414
4,AR,34.9697,-92.3731,117360,2037,104816.0,1.735685,0.893115

In [25]:
us_covid_df = us_covid_df[['State', 'Lat', 'Long', 'Death_percent', 'Recovery_percent']]
us_covid_df.head()

  State      Lat      Long  Death_percent  Recovery_percent
0    AL  32.3182  -86.9023       1.519397          0.424141
1    AK  61.3707 -152.4044       0.462199          0.392044
2    AS -14.2710 -170.1320            NaN               NaN
3    AZ  33.7298 -111.4312       2.408137          0.167414
4    AR  34.9697  -92.3731       1.735685          0.893115

In [26]:
us_covid_combine_df = pd.merge(covid_stats_df, us_covid_df, how='left', on=['State','State'])
us_covid_combine_df.head()

,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,AK,17072,2315,84,11,61.3707,-152.4044,0.462199,0.392044
1,AL,199158,4074,3026,61,32.3182,-86.9023,1.519397,0.424141
2,AR,117360,3894,2037,67,34.9697,-92.3731,1.735685,0.893115
3,AS,0,0,0,0,-14.2710,-170.1320,NaN,NaN
4,AZ,252768,3524,6087,84,33.7298,-111.4312,2.408137,0.167414

In [27]:
us_covid_combine_df.to_csv('./data/states.csv')

In [7]:
file = "../Data/World_COVID-19_Stats.csv"
world_covid_df = pd.read_csv(file)
world_covid_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-06 05:24:55,33.93911,67.709953,41935,1554,34440,5941.0,Afghanistan,107.723573,3.705735
1,NaN,NaN,NaN,Albania,2020-11-06 05:24:55,41.15330,20.168300,22721,543,11696,10482.0,Albania,789.526722,2.389860
2,NaN,NaN,NaN,Algeria,2020-11-06 05:24:55,28.03390,1.659600,60169,2011,41244,16914.0,Algeria,137.212244,3.342253
3,NaN,NaN,NaN,Andorra,2020-11-06 05:24:55,42.50630,1.521800,5135,75,3858,1202.0,Andorra,6645.958714,1.460565
4,NaN,NaN,NaN,Angola,2020-11-06 05:24:55,-11.20270,17.873900,12102,299,5350,6453.0,Angola,36.821948,2.470666

In [29]:
world_covid_df = world_covid_df[["Country_Region", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Case-Fatality_Ratio"]]
world_covid_df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Case-Fatality_Ratio
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666

In [30]:
world_covid_df = world_covid_df.rename(columns={"Long_": "Long", "Case-Fatality_Ratio":"Death_percent", "Country_Region": "Country"})
world_covid_df["Recovery_percent"]=world_covid_df.Recovered/world_covid_df.Confirmed
world_covid_df = world_covid_df[["Country", "Lat", "Long", "Confirmed", "Deaths", "Recovered", "Recovery_percent", "Death_percent"]]
world_covid_df.head()

,Country,Lat,Long,Confirmed,Deaths,Recovered,Recovery_percent,Death_percent
0,Afghanistan,33.93911,67.709953,41935,1554,34440,0.821271,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,0.514766,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,0.685469,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,0.751315,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,0.442076,2.470666

In [31]:
for index, row in world_covid_df.iterrows(): 
    if row["Country"] == "Canada":
        world_covid_df.loc[index, "Lat"] = 56.1304
        world_covid_df.loc[index, "Long"] = 106.3468
world_covid_df

,Country,Lat,Long,Confirmed,Deaths,Recovered,Recovery_percent,Death_percent
0,Afghanistan,33.939110,67.709953,41935,1554,34440,0.821271,3.705735
1,Albania,41.153300,20.168300,22721,543,11696,0.514766,2.389860
2,Algeria,28.033900,1.659600,60169,2011,41244,0.685469,3.342253
3,Andorra,42.506300,1.521800,5135,75,3858,0.751315,1.460565
4,Angola,-11.202700,17.873900,12102,299,5350,0.442076,2.470666
...,...,...,...,...,...,...,...,...
3955,West Bank and Gaza,31.952200,35.233200,56672,508,48680,0.858978,0.896386
3956,Western Sahara,24.215500,-12.885800,10,1,8,0.800000,10.000000
3957,Yemen,15.552727,48.516388,2063,601,1375,0.666505,29.132332
3958,Zambia,-13.133897,27.849332,16770,349,15827,0.943769,2.081097
3959,Zimbabwe,-19.015438,29.154857,8444,248,7975,0.944458,2.936997

In [33]:
world_covid_df.to_csv('./data/world.csv')

In [275]:
from sqlalchemy import inspect, func
engine = create_engine('sqlite:///covid20.db')

#covid_monthly_df.to_sql(name='covid_monthly', con=engine, if_exists='replace', index=False)
#world_covid_df.to_sql(name='covid_world', con=engine, if_exists='replace', index=False)
#us_covid_combine_df.to_sql(name='covid_states', con=engine, if_exists='replace', index=False)
#covid_monthly_df.to_sql('covid_monthly_avg', con=engine, if_exists='replace', index=False)

## testing
# df = pd.DataFrame({'a': [1,2],
# 'b': [3,4]})
# df.to_sql('test', con=engine)
# pd.read_sql('select * from test', engine)
# covid_monthly_df['date'] = covid_monthly_df['date'].astype(str)
# covid_monthly_df.dtypes

In [276]:
inspector = inspect(engine)
inspector.get_table_names()

[]

In [277]:
#columns = inspector.get_columns('monthly')
# for c in columns:
#     print(c['name', c['type'])

In [278]:
# pd.read_sql('select * from covid_states', engine)

In [279]:
import sqlite3
from sqlite3 import Error
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def drop_table(conn, drop_table_sql):
    """ drop a table from the drop_table_sql statement
    :param conn: Connection object
    :param drop_table_sql: a drop TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(drop_table_sql)
    except Error as e:
        print(e)
def main():
    database = r"./covid-19.db"
    sql_create_monthly_table = """CREATE TABLE monthly(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT, 
                                        Date text NOT NULL,
                                        State text,
                                        Average_cases float,
                                        Average_death float,
                                        Average_recovery float,
                                        Death_percent float,
                                        Recovery_percent float
                                    ); """

    sql_drop_monthly_table = """DROP TABLE if exists monthly;"""
    
    sql_create_states_table = """CREATE TABLE states(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        State text,
                                        Total_cases float,
                                        Case_rate_per_100k float,
                                        Total_deaths float,
                                        Death_rate_per_100k float,
                                        Lat float,
                                        Long float,
                                        Death_percent float,
                                        Recovery_percent float
                                );"""

    sql_drop_states_table = """DROP TABLE if exists states;"""    

    sql_create_world_table = """CREATE TABLE world(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        Country text,
                                        Lat float,
                                        Long float,
                                        Confirmed float,
                                        Deaths float,
                                        Recovered float,
                                        Recovery_percent float,
                                        Death_percent float
                                );"""

    sql_drop_world_table = """DROP TABLE if exists world;"""

    # create a database connection
    conn = create_connection(database)
    # create tables
    if conn is not None:
        # create covid_monthly table
        drop_table(conn, sql_drop_monthly_table)
        create_table(conn, sql_create_monthly_table)
        # create covid_states table
        drop_table(conn, sql_drop_states_table)
        create_table(conn, sql_create_states_table)
        #create covid_world table
        drop_table(conn, sql_drop_world_table)
        create_table(conn, sql_create_world_table)
        

    else:
        print("Error! cannot create the database connection.")
if __name__ == '__main__':
    main()

In [280]:
engine = create_engine('sqlite:///covid-19.db')

covid_monthly_df.to_sql(name='monthly', con=engine, if_exists = "append", index=False)
world_covid_df.to_sql(name='world', con=engine, if_exists = "append", index= False)
us_covid_combine_df.to_sql(name='states', con=engine, if_exists = "append", index=False)
#pd.read_sql('select * from covid_states', engine)

In [281]:
covidTL = pd.read_sql('select * from monthly', engine)
covidTL.head()

,id,Date,State,Average_cases,Average_death,Average_recovery,Death_percent,Recovery_percent
0,1,2020-01,AZ,0.6,0.0,0.6,0.0,100.0
1,2,2020-01,CA,1.3,0.0,1.3,0.0,100.0
2,3,2020-01,IL,0.9,0.0,0.9,0.0,100.0
3,4,2020-01,WA,1.0,0.0,1.0,0.0,100.0
4,5,2020-02,AZ,1.0,0.0,1.0,0.0,100.0

In [282]:
pd.read_sql('select * from states', engine)

,id,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,1,AK,17072.0,2315.0,84.0,11.0,61.3707,-152.4044,0.462199,0.392044
1,2,AL,199158.0,4074.0,3026.0,61.0,32.3182,-86.9023,1.519397,0.424141
2,3,AR,117360.0,3894.0,2037.0,67.0,34.9697,-92.3731,1.735685,0.893115
3,4,AS,0.0,0.0,0.0,0.0,-14.2710,-170.1320,NaN,NaN
4,5,AZ,252768.0,3524.0,6087.0,84.0,33.7298,-111.4312,2.408137,0.167414
5,6,CA,944576.0,2388.0,17815.0,45.0,36.1162,-119.6816,1.866533,NaN
6,7,CO,121006.0,2125.0,2353.0,41.0,39.0598,-105.3111,1.944532,0.068327
7,8,CT,77060.0,2157.0,4656.0,130.0,41.5978,-72.7554,6.042045,0.127174
8,9,DC,17682.0,2517.0,650.0,92.0,38.8974,-77.0268,3.676055,0.772141
9,10,DE,25753.0,2663.0,716.0,74.0,39.3185,-75.5071,2.780259,0.531394
10,11,FL,816376.0,3833.0,16961.0,79.0,27.7663,-81.6868,2.049965,NaN
11,12,FSM,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
12,13,GA,368368.0,3502.0,8126.0,77.0,33.0406,-83.6431,2.205946,NaN
13,14,GU,5004.0,3019.0,85.0,51.0,13.4443,144.7937,1.698641,0.669864
14,15,HI,15471.0,1089.0,218.0,15.0,21.0943,-157.4983,1.406370,0.767917
15,16,IA,141373.0,4479.0,1802.0,57.0,42.0115,-93.2105,1.273063,0.688022
16,17,ID,69579.0,3966.0,671.0,38.0,44.2405,-114.4788,0.964371,0.448555
17,18,IL,453750.0,3561.0,10313.0,80.0,40.3495,-88.9861,2.272898,NaN
18,19,IN,196176.0,2932.0,4511.0,67.0,39.8494,-86.2583,2.299466,0.655911
19,20,KS,92215.0,3167.0,1087.0,37.0,38.5266,-96.7265,1.195965,0.030514
20,21,KY,115277.0,2580.0,1534.0,34.0,37.6681,-84.6701,1.330708,0.176132
21,22,LA,190845.0,4095.0,5995.0,128.0,31.1695,-91.8678,3.226154,0.926732
22,23,MA,170594.0,2472.0,10067.0,145.0,42.2302,-71.5301,6.106163,0.797077
23,24,MD,151505.0,2507.0,4194.0,69.0,39.0639,-76.8021,2.788669,0.055047
24,25,ME,7444.0,556.0,150.0,11.0,44.6939,-69.3819,2.066116,0.792149
25,26,MI,218263.0,2186.0,7833.0,78.0,43.3266,-84.5361,3.588790,0.554803
26,27,MN,164865.0,2938.0,2634.0,46.0,45.6945,-93.9002,1.582507,0.835981
27,28,MO,196576.0,3209.0,3106.0,50.0,38.4561,-92.2884,1.558173,NaN
28,29,MP,98.0,0.0,2.0,3.0,15.0979,145.6739,2.040816,0.295918
29,30,MS,124854.0,4181.0,3419.0,114.0,32.7416,-89.6787,2.748472,0.854319
30,31,MT,36968.0,3480.0,407.0,38.0,46.9219,-110.4544,1.100952,0.630275
31,32,NC,285661.0,2751.0,4548.0,43.0,35.6301,-79.8064,1.592097,0.862274
32,33,ND,51602.0,6789.0,613.0,80.0,47.5289,-99.7840,1.195899,0.802958
33,34,NE,78012.0,4044.0,674.0,34.0,41.1254,-98.2681,0.863970,0.586730
34,35,NH,11808.0,870.0,486.0,35.0,43.4525,-71.5639,4.115854,0.827913
35,36,NJ,247219.0,2775.0,16403.0,184.0,40.2989,-74.5210,6.635008,0.152480
36,37,NM,51110.0,2439.0,1082.0,51.0,34.8405,-106.2485,2.117003,0.435805
37,38,NV,105360.0,3472.0,1824.0,60.0,38.3135,-117.0554,1.731207,0.023833
38,39,NY,251352.0,2256.0,9313.0,83.0,42.1657,-74.9481,6.487321,0.154632
39,40,NYC,271053.0,3227.0,24054.0,286.0,NaN,NaN,NaN,NaN
40,41,OH,235170.0,2012.0,5461.0,46.0,40.3888,-82.7649,2.322150,0.759646
41,42,OK,136324.0,3457.0,1420.0,36.0,35.5653,-96.9289,1.087986,0.860032
42,43,OR,47839.0,1142.0,710.0,16.0,44.5720,-122.0709,1.484145,0.122703
43,44,PA,220566.0,1722.0,8937.0,69.0,40.5908,-77.2098,3.953513,0.732944
44,45,PR,70519.0,2207.0,862.0,26.0,18.2208,-66.5901,1.231705,0.449205
45,46,PW,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
46,47,RI,35750.0,3381.0,1222.0,115.0,41.6809,-71.5118,3.418182,0.080587
47,48,RMI,1.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
48,49,SC,181639.0,3573.0,3992.0,78.0,33.8569,-80.9450,2.197766,0.519343
49,50,SD,51151.0,5798.0,482.0,54.0,44.2998,-99.4388,0.942308,0.724502
50,51,TN,271771.0,4014.0,3509.0,51.0,35.7478,-86.6923,1.291161,0.895945
51,52,TX,934994.0,3258.0,18453.0,64.0,31.0545,-97.5635,1.950201,0.827869
52,53,UT,124292.0,3932.0,632.0,19.0,40.1500,-111.8624,0.508480,0.722790
53,54,VA,188771.0,2216.0,3682.0,43.0,37.7693,-78.1700,1.970064,0.113722
54,55,VI,1390.0,1328.0,23.0,21.0,18.3358,-64.8963,1.657061,0.959654
55,56,VT,2303.0,368.0,58.0,9.0,44.0459,-72.7107,2.518454,0.819800
56,57,WA,112550.0,1494.0,2431.0,32.0,47.4009,-121.4905,2.159929,NaN
57,58,WI,263571.0,4534.0,2269.0,39.0,44.2685,-89.6165,0.877867,0.773711
58,59,WV,26547.0,1470.0,480.0,26.0,38.4912,-80.9545,1.815648,0.759973
59,60,WY,15409.0,2667.0,105.0,18.0,42.7560,-107.3025,0.681420,0.630086

In [6]:
import requests
url="http://127.0.0.1:5000/api/v1.0/world"
resp=requests.get(url)
resp

ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=5000): Max retries exceeded with url: /api/v1.0/world (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000021886B4E668>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it',))

In [9]:
data = resp.json()
data

ng': -105.3683478,
  'Confirmed': 32.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 900,
  'Country': 'US',
  'Lat': 38.86246243,
  'Long': -107.8631342,
  'Confirmed': 240.0,
  'Deaths': 3.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.25},
 {'id': 901,
  'Country': 'US',
  'Lat': 39.76018276,
  'Long': -104.8725695,
  'Confirmed': 21546.0,
  'Deaths': 455.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.1117608837},
 {'id': 902,
  'Country': 'US',
  'Lat': 37.75208676,
  'Long': -108.5211585,
  'Confirmed': 3.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 903,
  'Country': 'US',
  'Lat': 39.33133796,
  'Long': -104.930001,
  'Confirmed': 4998.0,
  'Deaths': 68.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.3605442177},
 {'id': 904,
  'Country': 'US',
  'Lat': 39.62754308,
  'Long': -106.6933637,
  'Confirmed': 1605.0,
  'Deaths': 10.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.6230529595},
 {'id': 905,
  'Country': 'US',
  'Lat': 38.83240149,
  'Long': -104.5251411,
  'Confirmed': 12925.0,
  'Deaths': 208.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.6092843327},
 {'id': 906,
  'Country': 'US',
  'Lat': 39.28656773,
  'Long': -104.1358721,
  'Confirmed': 274.0,
  'Deaths': 3.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.0948905109},
 {'id': 907,
  'Country': 'US',
  'Lat': 38.47362326,
  'Long': -105.4399667,
  'Confirmed': 976.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.2049180328},
 {'id': 908,
  'Country': 'US',
  'Lat': 39.59921777,
  'Long': -107.902708,
  'Confirmed': 1307.0,
  'Deaths': 5.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.3825554705},
 {'id': 909,
  'Country': 'US',
  'Lat': 39.85646523,
  'Long': -105.5252597,
  'Confirmed': 36.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 910,
  'Country': 'US',
  'Lat': 40.10603347,
  'Long': -106.1178042,
  'Confirmed': 165.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.6060606061},
 {'id': 911,
  'Country': 'US',
  'Lat': 38.66611652,
  'Long': -107.0320729,
  'Confirmed': 332.0,
  'Deaths': 7.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.1084337349},
 {'id': 912,
  'Country': 'US',
  'Lat': 37.82247444,
  'Long': -107.3004345,
  'Confirmed': 4.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 913,
  'Country': 'US',
  'Lat': 37.68473101,
  'Long': -104.9612585,
  'Confirmed': 47.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.2553191489},
 {'id': 914,
  'Country': 'US',
  'Lat': 40.6659387,
  'Long': -106.3408905,
  'Confirmed': 9.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 915,
  'Country': 'US',
  'Lat': 39.58635604,
  'Long': -105.2517692,
  'Confirmed': 10607.0,
  'Deaths': 336.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.1677194306},
 {'id': 916,
  'Country': 'US',
  'Lat': 38.43260896,
  'Long': -102.7392145,
  'Confirmed': 6.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 917,
  'Country': 'US',
  'Lat': 39.30497777,
  'Long': -102.6022199,
  'Confirmed': 184.0,
  'Deaths': 3.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.6304347826},
 {'id': 918,
  'Country': 'US',
  'Lat': 37.28632032,
  'Long': -107.8429014,
  'Confirmed': 416.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.4807692308},
 {'id': 919,
  'Country': 'US',
  'Lat': 39.20278823,
  'Long': -106.3555697,
  'Confirmed': 155.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 920,
  'Country': 'US',
  'Lat': 40.66671597,
  'Long': -105.4625784,
  'Confirmed': 4975.0,
  'Deaths': 60.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.2060301508},
 {'id': 921,
  'Country': 'US',
  'Lat': 37.3153406,
  'Long': -104.0376458,
  'Confirmed': 95.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.0526315789},
 {'id': 922,
  'Country': 'US',
  'Lat': 38.98749519,
  'Long': -103.5136649,
  'Confirmed': 26.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 923,
  'Country': 'US',
  'Lat': 40.7249637,
  'Long': -103.110817,
  'Confirmed': 1416.0,
  'Deaths': 14.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.988700565},
 {'id': 924,
  'Country': 'US',
  'Lat': 39.01787888,
  'Long': -108.469799,
  'Confirmed': 2036.0,
  'Deaths': 19.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.9332023576},
 {'id': 925,
  'Country': 'US',
  'Lat': 37.66954283,
  'Long': -106.9281698,
  'Confirmed': 21.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 926,
  'Country': 'US',
  'Lat': 40.61810999,
  'Long': -108.2070876,
  'Confirmed': 83.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.2048192771},
 {'id': 927,
  'Country': 'US',
  'Lat': 37.33859579,
  'Long': -108.5958857,
  'Confirmed': 260.0,
  'Deaths': 5.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.9230769231},
 {'id': 928,
  'Country': 'US',
  'Lat': 38.40214114,
  'Long': -108.2639022,
  'Confirmed': 510.0,
  'Deaths': 14.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.7450980392},
 {'id': 929,
  'Country': 'US',
  'Lat': 40.2627981,
  'Long': -103.8093302,
  'Confirmed': 973.0,
  'Deaths': 49.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 5.035971223},
 {'id': 930,
  'Country': 'US',
  'Lat': 37.9014485,
  'Long': -103.7173385,
  'Confirmed': 199.0,
  'Deaths': 7.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.5175879397},
 {'id': 931,
  'Country': 'US',
  'Lat': 38.14717457,
  'Long': -107.7675136,
  'Confirmed': 49.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.0816326531},
 {'id': 932,
  'Country': 'US',
  'Lat': None,
  'Long': None,
  'Confirmed': 0.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': None,
  'Death_percent': None},
 {'id': 933,
  'Country': 'US',
  'Lat': 39.120926,
  'Long': -105.7182065,
  'Confirmed': 114.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.8771929825},
 {'id': 934,
  'Country': 'US',
  'Lat': 40.59414277,
  'Long': -102.3577703,
  'Confirmed': 83.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 935,
  'Country': 'US',
  'Lat': 39.21720112,
  'Long': -106.9310027,
  'Confirmed': 313.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.6389776358},
 {'id': 936,
  'Country': 'US',
  'Lat': 37.95544985,
  'Long': -102.3926052,
  'Confirmed': 232.0,
  'Deaths': 10.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.3103448276},
 {'id': 937,
  'Country': 'US',
  'Lat': 38.17359144,
  'Long': -104.5127437,
  'Confirmed': 2826.0,
  'Deaths': 52.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.8400566171},
 {'id': 938,
  'Country': 'US',
  'Lat': 39.97913541,
  'Long': -108.2179009,
  'Confirmed': 31.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 939,
  'Country': 'US',
  'Lat': 37.5836865,
  'Long': -106.3847838,
  'Confirmed': 137.0,
  'Deaths': 3.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.1897810219},
 {'id': 940,
  'Country': 'US',
  'Lat': 40.48596505,
  'Long': -106.9905548,
  'Confirmed': 248.0,
  'Deaths': 9.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.6290322581},
 {'id': 941,
  'Country': 'US',
  'Lat': 38.08054629,
  'Long': -106.282466,
  'Confirmed': 155.0,
  'Deaths': 2.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.2903225806},
 {'id': 942,
  'Country': 'US',
  'Lat': 37.76248981,
  'Long': -107.6763289,
  'Confirmed': 11.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 943,
  'Country': 'US',
  'Lat': 38.00450883,
  'Long': -108.4020725,
  'Confirmed': 114.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 944,
  'Country': 'US',
  'Lat': 40.87595412,
  'Long': -102.3519227,
  'Confirmed': 53.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.8867924528},
 {'id': 945,
  'Country': 'US',
  'Lat': 39.63803232,
  'Long': -106.1150762,
  'Confirmed': 873.0,
  'Deaths': 4.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.4581901489},
 {'id': 946,
  'Country': 'US',
  'Lat': 38.88133511,
  'Long': -105.1614893,
  'Confirmed': 294.0,
  'Deaths': 4.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.3605442177},
 {'id': 947,
  'Country': 'US',
  'Lat': None,
  'Long': None,
  'Confirmed': 23.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 948,
  'Country': 'US',
  'Lat': 39.97015535,
  'Long': -103.202587,
  'Confirmed': 124.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.8064516129},
 {'id': 949,
  'Country': 'US',
  'Lat': 40.55499405,
  'Long': -104.3929621,
  'Confirmed': 7334.0,
  'Deaths': 161.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.1952549768},
 {'id': 950,
  'Country': 'US',
  'Lat': 40.00346839,
  'Long': -102.4258673,
  'Confirmed': 239.0,
  'Deaths': 1.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.4184100418},
 {'id': 951,
  'Country': 'US',
  'Lat': 41.26809896,
  'Long': -73.3881171,
  'Confirmed': 26120.0,
  'Deaths': 1445.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 5.5321592649},
 {'id': 952,
  'Country': 'US',
  'Lat': 41.80283011,
  'Long': -72.73103891,
  'Confirmed': 19511.0,
  'Deaths': 1498.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 7.6777202604},
 {'id': 953,
  'Country': 'US',
  'Lat': 41.7937534,
  'Long': -73.2451475,
  'Confirmed': 2531.0,
  'Deaths': 146.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 5.7684709601},
 {'id': 954,
  'Country': 'US',
  'Lat': 41.45949668,
  'Long': -72.53714864,
  'Confirmed': 2182.0,
  'Deaths': 198.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 9.074243813},
 {'id': 955,
  'Country': 'US',
  'Lat': 41.4080325,
  'Long': -72.93620426,
  'Confirmed': 18862.0,
  'Deaths': 1135.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 6.0173894603},
 {'id': 956,
  'Country': 'US',
  'Lat': 41.48896435,
  'Long': -72.10430976,
  'Confirmed': 4141.0,
  'Deaths': 146.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.5257184255},
 {'id': 957,
  'Country': 'US',
  'Lat': 41.85853803,
  'Long': -72.3308481,
  'Confirmed': 1922.0,
  'Deaths': 68.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.5379812695},
 {'id': 958,
  'Country': 'US',
  'Lat': None,
  'Long': None,
  'Confirmed': 202.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 959,
  'Country': 'US',
  'Lat': 41.82972709,
  'Long': -71.98182316,
  'Confirmed': 1589.0,
  'Deaths': 20.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.258653241},
 {'id': 960,
  'Country': 'US',
  'Lat': 39.08646628,
  'Long': -75.56884914,
  'Confirmed': 3681.0,
  'Deaths': 122.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.3143167617},
 {'id': 961,
  'Country': 'US',
  'Lat': 39.57992638,
  'Long': -75.64054974,
  'Confirmed': 13639.0,
  'Deaths': 354.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.5954982037},
 {'id': 962,
  'Country': 'US',
  'Lat': 38.66143781,
  'Long': -75.39031349,
  'Confirmed': 8342.0,
  'Deaths': 240.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.8770079118},
 {'id': 963,
  'Country': 'US',
  'Lat': None,
  'Long': None,
  'Confirmed': 91.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 964,
  'Country': 'US',
  'Lat': None,
  'Long': None,
  'Confirmed': 49.0,
  'Deaths': 0.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.0},
 {'id': 965,
  'Country': 'US',
  'Lat': 38.90417773,
  'Long': -77.01655992,
  'Confirmed': 17682.0,
  'Deaths': 650.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.6760547449},
 {'id': 966,
  'Country': 'US',
  'Lat': 29.67866525,
  'Long': -82.35928158,
  'Confirmed': 10996.0,
  'Deaths': 78.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.7093488541},
 {'id': 967,
  'Country': 'US',
  'Lat': 30.33060121,
  'Long': -82.28467476,
  'Confirmed': 1840.0,
  'Deaths': 24.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.3043478261},
 {'id': 968,
  'Country': 'US',
  'Lat': 30.26548745,
  'Long': -85.62122584,
  'Confirmed': 7060.0,
  'Deaths': 138.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.954674221},
 {'id': 969,
  'Country': 'US',
  'Lat': 29.95079741,
  'Long': -82.16611613,
  'Confirmed': 1254.0,
  'Deaths': 15.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.1961722488},
 {'id': 970,
  'Country': 'US',
  'Lat': 28.29409504,
  'Long': -80.73091022,
  'Confirmed': 12318.0,
  'Deaths': 384.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.1173891866},
 {'id': 971,
  'Country': 'US',
  'Lat': 26.15184651,
  'Long': -80.48725556,
  'Confirmed': 89184.0,
  'Deaths': 1542.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.7290096878},
 {'id': 972,
  'Country': 'US',
  'Lat': 30.40666734,
  'Long': -85.19394153,
  'Confirmed': 746.0,
  'Deaths': 15.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.0107238606},
 {'id': 973,
  'Country': 'US',
  'Lat': 26.90131002,
  'Long': -81.92949121,
  'Confirmed': 3884.0,
  'Deaths': 163.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.1967044284},
 {'id': 974,
  'Country': 'US',
  'Lat': 28.84804315,
  'Long': -82.47614748,
  'Confirmed': 3402.0,
  'Deaths': 136.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.9976484421},
 {'id': 975,
  'Country': 'US',
  'Lat': 29.98319144,
  'Long': -81.85609986,
  'Confirmed': 6395.0,
  'Deaths': 127.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.9859265051},
 {'id': 976,
  'Country': 'US',
  'Lat': 26.11091986,
  'Long': -81.34687065,
  'Confirmed': 15005.0,
  'Deaths': 259.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.7260913029},
 {'id': 977,
  'Country': 'US',
  'Lat': 30.22509788,
  'Long': -82.62160164,
  'Confirmed': 4343.0,
  'Deaths': 79.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.8190191112},
 {'id': 978,
  'Country': 'US',
  'Lat': 27.18677893,
  'Long': -81.80941373,
  'Confirmed': 1703.0,
  'Deaths': 30.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.7615971814},
 {'id': 979,
  'Country': 'US',
  'Lat': 29.60631086,
  'Long': -83.15724673,
  'Confirmed': 918.0,
  'Deaths': 11.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.1982570806},
 {'id': 980,
  'Country': 'US',
  'Lat': 30.33225875,
  'Long': -81.66976468,
  'Confirmed': 36282.0,
  'Deaths': 532.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.4662918251},
 {'id': 981,
  'Country': 'US',
  'Lat': 30.67652764,
  'Long': -87.37284571,
  'Confirmed': 14033.0,
  'Deaths': 273.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.9454143804},
 {'id': 982,
  'Country': 'US',
  'Lat': 29.45933576,
  'Long': -81.31508595,
  'Confirmed': 2248.0,
  'Deaths': 40.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.7793594306},
 {'id': 983,
  'Country': 'US',
  'Lat': 29.83791238,
  'Long': -84.82731662,
  'Confirmed': 792.0,
  'Deaths': 4.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.5050505051},
 {'id': 984,
  'Country': 'US',
  'Lat': 30.57796289,
  'Long': -84.61915825,
  'Confirmed': 3082.0,
  'Deaths': 56.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.8170019468},
 {'id': 985,
  'Country': 'US',
  'Lat': 29.72856978,
  'Long': -82.79880657,
  'Confirmed': 622.0,
  'Deaths': 19.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.0546623794},
 {'id': 986,
  'Country': 'US',
  'Lat': 26.95635849,
  'Long': -81.18996211,
  'Confirmed': 623.0,
  'Deaths': 6.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 0.963081862},
 {'id': 987,
  'Country': 'US',
  'Lat': 29.93543004,
  'Long': -85.2427099,
  'Confirmed': 979.0,
  'Deaths': 15.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.5321756895},
 {'id': 988,
  'Country': 'US',
  'Lat': 30.49673973,
  'Long': -82.94998918,
  'Confirmed': 919.0,
  'Deaths': 10.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.0881392818},
 {'id': 989,
  'Country': 'US',
  'Lat': 27.49293939,
  'Long': -81.80956574,
  'Confirmed': 1640.0,
  'Deaths': 17.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.0365853659},
 {'id': 990,
  'Country': 'US',
  'Lat': 26.55386945,
  'Long': -81.16469006,
  'Confirmed': 2277.0,
  'Deaths': 44.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.9323671498},
 {'id': 991,
  'Country': 'US',
  'Lat': 28.55364461,
  'Long': -82.42700204,
  'Confirmed': 3915.0,
  'Deaths': 177.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.5210727969},
 {'id': 992,
  'Country': 'US',
  'Lat': 27.34254618,
  'Long': -81.34071957,
  'Confirmed': 2829.0,
  'Deaths': 120.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 4.2417815483},
 {'id': 993,
  'Country': 'US',
  'Lat': 27.9276559,
  'Long': -82.32013172,
  'Confirmed': 49794.0,
  'Deaths': 828.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.6628509459},
 {'id': 994,
  'Country': 'US',
  'Lat': 30.86747479,
  'Long': -85.81319222,
  'Confirmed': 962.0,
  'Deaths': 13.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.3513513514},
 {'id': 995,
  'Country': 'US',
  'Lat': 27.69308961,
  'Long': -80.60556721,
  'Confirmed': 4048.0,
  'Deaths': 126.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 3.1126482213},
 {'id': 996,
  'Country': 'US',
  'Lat': 30.7954597,
  'Long': -85.21500423,
  'Confirmed': 3264.0,
  'Deaths': 83.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.5428921569},
 {'id': 997,
  'Country': 'US',
  'Lat': 30.43669112,
  'Long': -83.89442308,
  'Confirmed': 696.0,
  'Deaths': 11.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.5804597701},
 {'id': 998,
  'Country': 'US',
  'Lat': 29.98484137,
  'Long': -83.18166636,
  'Confirmed': 1287.0,
  'Deaths': 16.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 1.2432012432},
 {'id': 999,
  'Country': 'US',
  'Lat': 28.76202069,
  'Long': -81.7125123,
  'Confirmed': 9047.0,
  'Deaths': 234.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.58649276},
 {'id': 1000,
  'Country': 'US',
  'Lat': 26.58410348,
  'Long': -81.88399313,
  'Confirmed': 24328.0,
  'Deaths': 529.0,
  'Recovered': 0.0,
  'Recovery_percent': 0.0,
  'Death_percent': 2.1744491943},
 ...]